@page "/"
@page "/Account/SignOut"
@inherits ReactiveComponentBase<HomeViewModel>

<h1>Home</h1>

<button class="btn-primary" @onclick="ModalCommand" >First Modal</button>
<button class="btn-primary" @onclick="RedPageCommand">Push Red Page</button>
<button class="btn-primary" @onclick="GreenPageCommand">Push Green Page</button>

@code{
    [Inject] IJSRuntime jSRuntime { get; set; }

    protected override Task OnInitializedAsync()
    {
        Interactions
                .ErrorMessage
                .RegisterHandler(async x =>
                {
                    await jSRuntime.InvokeVoidAsync("alert", x.Input.Message, x.Input.StackTrace);
                    x.SetOutput(true);
                });
        return Task.CompletedTask;
    }
}
